STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend

# Cloudflare R2 File Storage
R2_ENDPOINT=https://a3f63c7bb6dacf121f62d5d51caeb9b5.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=alma-store
R2_FILE_URL=https://pub-a0c7ea06850a4b19aa806d8d44123ccb.r2.dev
R2_REGION=auto
